$primary: goldenrod;
$primary-light: gold;
$secondary: crimson;

//--------- bar ------------
.bar {
  fill: $primary;
  &.negative { fill: brown; }
  &.positive { fill: $primary; }
}
//--------- line ------------
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: $primary;
  stroke-width: 2.3px;
  &.clicks { stroke: $secondary; }
  &.impressions { stroke: $primary; }
}

//--------- bullet------------
.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: $primary-light; }
.bullet .measure.s1 { fill: $primary; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

//--------- custom styles------------

.clicks-legend {
  font-size: 10px;
  color: $secondary;
}

.impressions-legend {
  font-size: 10px;
  color: $primary;
}

.graph-tooltip {
  z-index: 2;
  position: absolute;
  text-align: center;
  padding: 4px;
  font-size: 12px;
  background-color: black;
  color: white;
  pointer-events: none;
}

.line1 { stroke: $primary; }
.line2 { stroke: $secondary; }
.myData { stroke: $primary; }
